body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0px;
	background-color: #ede2db;
}

#container {
	width: 1100px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ede2db;
}

footer {
	color: #0a0705;
	background-color: #9e6f4e;
	font-size: 15px;
	text-align: center;
	padding: 20px;
}

header {
	align-items: center;
	background-color: #9e6f4e;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	margin: 0;
	list-style: none;
	position: sticky;
	top: 0;
}

.menu {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 10px 0px;
}

.logo, .contact, .menu_item {
	border-radius: 10px;
	cursor: pointer;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	color: #0a0705; 
	padding: 20px 30px;
	text-align: center;
}

.contact:hover, .menu_item:hover {
	border-radius: 10px;
	background-color: #bf997e;
	transition-duration: .2s;
}

.art_cover {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items:center
}

.art_cover img {
	border-radius: 30px;
	width: 400px;
	height: 80vh;
	object-fit: cover;
}

.art_cover article {
	margin: 20px 40px;
	text-align: justify;
}

h1 {
	text-align: center;
}